$coral: #f58f7c;
$pink: #f2c4ce;
$lightGray: #f2f2f2;
$medGray: #4f4f51;
$darkGray: #2c2b30;

body {
  background-color: $lightGray;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  color: $darkGray;
}

.main-content {
  width: 90%;
  margin: 0 auto;
}
// Reusable
.box-shadow {
  -webkit-box-shadow: -6px 8px 13px -3px rgba(163, 163, 163, 1);
  -moz-box-shadow: -6px 8px 13px -3px rgba(163, 163, 163, 1);
  box-shadow: -6px 8px 13px -3px rgba(163, 163, 163, 1);
}
.input-field {
  display: flex;
  flex-direction: column;
}
.search-bar {
  background-color: white;
  display: flex;
  align-items: center;
  height: 30px;
  padding: 5px;
  position: relative;
  border-radius: 5px;
  i {
    color: $medGray;
  }
  .icon-input {
    width: 30px;
    text-align: right;
  }
  input {
    border: 0;
    height: 100%;
    color: $medGray;
    margin: 5px;
  }
}
.search-btn {
  background-color: $coral;
  border: 1px solid $coral;
  border-radius: 5px;
  color: white;
  padding: 5px;
}

.btn-back {
  background-color: transparent;
  color: $coral;
  border: none;
  padding: 10px;
  i {
    margin-right: 10px;
  }
}
// Reusable End ////

///HEader/////@at-root
.header {
  background-color: $darkGray;
  padding: 20px;
  h1 {
    color: white;
  }
}

////Header End
/////KeyWordSearchBox
.keyword-search {
  height: 200px;
  border: 1px solid white;
  border-radius: 5px;
  background-image: url("https://images.unsplash.com/photo-1529480151292-2aadb490d119?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=968&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-position-y: -185px;
  form {
    display: flex;
    align-items: center;
  }
}

.location-search {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding: 1rem 0;
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
    label {
      font-size: 0.9em;
    }
    .input-field {
      label {
        display: flex;
        flex-direction: column;
        color: $medGray;
        input {
          max-width: 290px;
          margin-top: 10px;
          padding: 10px;
          border-radius: 5px;
          border: none;
        }
      }
    }
  }
}

.job-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.job-list-item {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  border-radius: 5px;
  .company-logo {
    width: 78px;
    min-height: 100px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    padding: 0.5em 0.5em 0 0.5em;
    img {
      height: auto;
      width: 100%;
    }
  }
}

.job-details {
  max-width: 60%;
  padding: 10px;
  a {
    text-decoration: none;
  }
  .company-name {
    margin: 0;
    font-weight: 500;
    color: $darkGray;
    text-decoration: none;
    font-size: 0.8em;
  }
  .job-title {
    font-size: 1em;
    margin: 0.5em 0;
    color: $darkGray;
  }
  .job-type {
    font-size: 0.9em;
    padding: 5px;
    border: 1px solid $darkGray;
    border-radius: 5px;
    max-width: 70px;
    text-align: center;
    margin: 0.5em 0 1em 0;
  }
  .job-location,
  .job-created-at {
    color: #999d9e;
    font-weight: 300;
    font-size: 0.7em;
  }
}

.job-card {
  width: 90%;
  display: flex;
  flex-direction: column;
  .job-card-side {
    width: 100%;
  }
  .job-card-apply {
    h3 {
      color: $medGray;
      font-weight: 700;
    }
  }
  .job-detail {
    .job-title {
      font-size: 1.5em;
    }
  }
  .company-logo {
    width: 50px;
    img {
      width: 100%;
    }
  }
  .job-description {
    font-size: 1em;
    font-weight: 300;
  }
}

@media only screen and (min-width: 640px) {
  .main-content {
    display: flex;
    // justify-content: center;
  }
  .location-search {
    min-width: 40%;
  }
  .job-list {
    max-width: 60%;
  }
  .job-card {
    flex-direction: row;
  }
}
